<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<div th:insert="~{NavBar :: NavBar}">...</div>

<h2>Guess a number between 1 and 6</h2>

<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<p th:if="${guess != null}">
    Your guess: <span th:text="${guess}"></span><br />
    Random number: <span th:text="${randomNumber}"></span><br />
    <span th:if="${isCorrect}">Congratulations! Your guess is correct!</span>
    <span th:unless="${isCorrect}">Sorry, your guess is incorrect.</span>
</p>

<div th:insert="~{footer :: footer}">...</div>

</body>
</html>
