<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
  <title>Some title</title>
  <meta charset="UTF-8" />
</head>
<body>



  <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="NavBar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My project</a>
    </div>
    <ul>
      <li>
        <form th:action="@{/logout}" th:method="post">
          <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form>
      </li>
    </ul>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li th:classappend="${module == 'home' ? 'active' : ''}">
          <a href="#" th:href="@{/static}">Home</a>
        </li>
        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
          <a href="#" th:href="@{/task}">Tasks</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>


</body>
</html>